.user_block {
    display: grid;
    margin-bottom: 1rem;
    p {
        display: flex;
        input {
            text-align: center;
            margin-right: 1.5rem;
            border-radius: 30px;
            padding: 0.6rem 0;
            font-weight: bold;
            border: 1.5px solid var(--grey);
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }
    .btn_primary,
        .btn_secondary {
            border-radius: 30px;
            padding: 0.6rem 0;
            font-weight: bold;
            border: 1.5px solid var(--grey);
            cursor: pointer;
            transition: background-color 0.3s;
        }

    .btn_primary {
        background-color: var(--while);
    }
    
    .btn_primary:hover {
        background-color: var(--color-secondary);
    }
    
    .btn_secondary {
        color: var(--white);
        background-color: var(--color-primary);
    }
    
    .btn_secondary:hover {
        background-color: var(--color-primary-2);
    }
}

