.post {
    display: flex;
    padding: 1rem;
    transition: background-color 0.2s;
    border-bottom: 1px solid var(--color-secondary);
}

.post:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
}

.post_avatar {
    cursor: pointer;
}

.post_content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.post_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3, h4 {
        margin: 0;
        padding: 0;
    }
    h3 {
        font-size: 1rem;
        cursor: pointer;
    }
    h4 {
        font-size: 0.8rem;
        font-weight: 400;
        color: var(--grey-2);
        margin-left: 0.5rem;
        cursor: pointer;
    }
}

.post_titles {
    display: flex;
    align-items: center;
}

.post_options {
    cursor: pointer;
}

.post_desc {
    font-size: 0.9rem;
}

.post_media {
    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;
    }
}

.post_footer {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.9rem;
    margin-left: 0.9rem;
}

.post__but-icon {
    border: none;
    background-color: white;
    img {
        height: 20px;
        width: 20px;
    }
    input {
        width: 20px;
        margin: 0;
        font-size: 0.8rem;
    }
}